      {{ $section := .Site.GetPage "section" .Section }}
      <h1 class="post-title">{{- .Title -}}</h1>

      {{/* partial "social-share.html" . */}}

      <div class="post-meta">
        {{ if not .Date.IsZero }}
          <div class="time-bar">
            <time {{ printf `datetime="%s" ` (.Date.Format "2006-01-02T15:04:05Z07:00" ) | safeHTMLAttr }}>
              {{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}
            </time>
          </div>
        {{end}}
      </div>

      {{/*
      Show "reading time" and "word count" but only if one of the following are true:
      1) A global config `params` value is set `show_reading_time = true`
      2) A section front matter value is set `show_reading_time = true`
      3) A page front matter value is set `show_reading_time = true`
      */}}

      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
        <span> - {{ i18n "readingTime" .ReadingTime }} </span>
        <span> - {{ i18n "wordCount" .WordCount }} </span>
      {{ end }}

      <div class="md-content">
        {{- .Content -}}
      </div>
